{% extends 'base.html' %} {% load static %} {% block content %}

<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static '/css/affichee.css' %}"
  />
</head>

<br />



<div class="tout">
  <!-- {% for notes in notes %} {{notes.etudiant}} {% endfor %} -->

  <br> <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Examens :</th>
        <th scope="col">Note :</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for notes in notes %}
        <td>{{notes.examens}}</td>
        <td>{{notes.note}}/20  </td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'ajoutnote' %}">Ajouter une note</a>
</div>

{% endblock %}
