{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/ajoutprof.css' %}" />
</head>
<div class="main">
    <form class="quest" method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-sm-6">
              {{form.nom|as_crispy_field}}
              <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="form-group col-sm-6">
              {{form.prenom|as_crispy_field}}
              <div id="emailHelp" class="form-text"></div>
            </div>
        </div>
        <br>
        <input id="butt" class=" btn btn-primary" type="submit" value="Envoyer les données"\>
        <br> <br>
        <a href="{% url 'enseignants' %}">voir tous les enseignants</a>
    </form>
</div>
{% endblock %}