<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <title>Document</title>
  </head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <a href="{% url 'ajoutetudiant' %}">ajouter un etudiant</a>
    <a href="{% url 'ajoutenseignant' %}">ajouter enseignant</a>
    <a href="{% url 'ajoutexamen' %}">ajouter un examen</a>
    <a href="{% url 'ajoutnote' %}">ajouter une note</a>
    <a href="{% url 'ajoutressourceue' %}">ajouter une ressource a un ue</a>
    <a href="{% url 'ajoutue' %}">ajouter une ue</a>
    <a href="{% url 'etudiants' %}">tous les étudiants</a>
    {% block content %}
    {% endblock %}
</body>
</html>