{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/mai.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/c9d0f4a074.js" crossorigin="anonymous"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="container nav-wrapper">
        <div class="brand">
          <span><strong>WebGrade</strong> <i class="fa-solid fa-graduation-cap"></i></span>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li class="">
            <a href="{% url 'index' %}">Accueil</a>
          </li>
          <li><a href="#">A propos</a></li>
          <li>
            <a href="{% url 'etudiants' %}">Partie étudiant</a>
            <ul class="dropdown-list">
              <li><a href="{% url 'ajoutetudiant' %}">Ajouter un étudiant</a></li>
              <li><a href="{% url 'ajoutexamen' %}">Ajouter un examen</a></li>
              <li><a href="{% url 'ajoutnote' %}">Ajouter une note</a></li>
              <li><a href="{% url 'ajoutenseignant' %}">Ajouter un enseignant</a></li>
              <li><a href="{% url 'etudiants' %}">Tous les étudiants</a></li>
              <li><a href="{% url 'ajoutressourceue' %}">Ajouter une ressource à une UE</a></li>
              <li><a href="{% url 'ajoutue' %}">Ajouter une UE</a></li>
            </ul>
          </li>
          <li><a href="#">Q&A</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
